.btn {
    cursor: pointer;

    outline: none;
    border: none;

    width: fit-content;

    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #fff;
    background: #4623D0;
    padding: 10px 20px;

    transition: all .3s ease-in-out;
}

.btn:hover {
    background-color: #3B1CB5;
}