.pagination {
    display: flex;

    margin-top: 30px;

    &_arrowBtn {
        cursor: pointer;
        outline: none;
        border: none;
        background: #fff;
        padding: 13px 7px;
        margin: 0 30px;

        border: 1px solid rgba(0, 0, 0, .2);
    }

    &_pageBtn {
        cursor: pointer;
        outline: none;
        border: 1px solid rgba(0, 0, 0, .2);
        padding: 13px 20px;
        background: #fff;

        &[disabled] {
            cursor: not-allowed
        }
    }
}