.lesson {
    &_info {
        padding: 20px 20px 30px;
    }

    &_error {
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000002;

        h2 {
            color: #fff
        }
    }
}