.course {
    &_details {
        width: 100%;
        display: flex;
        margin-top: 30px;

        &_description {
            margin-bottom: 10px;
        }

        &_firstColumn {
            width: 50%;
            padding-right: 50px;
        }

        &_secondColumn {
            width: 50%;
        }
    }
}