.tag {
    position: absolute;
    top: 0px;
    left: 0px;

    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    padding: 5px 10px;
    background-color: #EA572B;
    color: #fff;

    z-index: 2;
}