.tip {
    &_trigger {
        padding: 4px 10px;

        background-color: #424190;

        color: #fff;
        font-weight: bold;
        font-size: 16px;

        position: relative;
    }

    &_text {
        position: absolute;
        top: 25px;
        left: 0;
        width: 250px;
        background-color: #fff;
        color: #000002;
        padding: 15px 20px;
        line-height: 1.4em;
        opacity: 0;
        transition: .2s ease-in-out;
        pointer-events: none;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.25);

    }

    &_text.active {
        opacity: 1;
        pointer-events: all;
    }
}