.container {
    margin-top: 30px;

    h4 {
        margin-bottom: 10px;
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 24px;

        .skill {
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            padding-left: 7px;
        }
    }
}